<a href="https://colab.research.google.com/github/endar1y12/ML/blob/main/Tugas_ML.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score

In [ ]:
dataku = pd.read_csv("/content/german.csv")
print(dataku)

     Status of existing checking account Duration in month Credit history  \
A11                                    6              A34             A43
A12                                   48               A32            A43
A14                                   12               A34            A46
A11                                   42               A32            A42
A11                                   24               A33            A40
..                                   ...               ...            ...
A14                                   12               A32            A42
A11                                   30               A32            A41
A14                                   12               A32            A43
A11                                   45               A32            A43
A12                                   45               A34            A41

     Purpose Credit amount Savings account  Present employment  \
A11     1169           A65             A75                   4
A12     5951           A61             A73                   2
A14     2096           A61             A74                   2
A11     7882           A61             A74                   2
A11     4870           A61             A73                   3
..       ...           ...             ...                 ...
A14     1736           A61             A74                   3
A11     3857           A61             A73                   4
A14      804           A61             A75                   4
A11     1845           A61             A73                   4
A12     4576           A62             A71                   3

    Installment rate in percentage of disposable income  \
A11                                                A93
A12                                                A92
A14                                                A93
A11                                                A93
A11                                                A93
..                                                 ...
A14                                                A92
A11                                                A91
A14                                                A93
A11                                                A93
A12                                                A93

    Personal status and sex  Other debtors / guarantors  \
A11                    A101                           4
A12                    A101                           2
A14                    A101                           3
A11                    A103                           4
A11                    A101                           4
..                      ...                         ...
A14                    A101                           4
A11                    A101                           4
A14                    A101                           4
A11                    A101                           4
A12                    A101                           4

    Present residence since  Property     Age installment plans   Housing  \
A11                    A121        67   A143               A152         2
A12                    A121        22    A143               A152        1
A14                    A121        49    A143               A152        1
A11                    A122        45    A143               A153        1
A11                    A124        53    A143               A153        2
..                      ...       ...     ...                ...      ...
A14                    A121        31    A143               A152        1
A11                    A122        40    A143               A152        1
A14                    A123        38    A143               A152        1
A11                    A124        23    A143               A153        1
A12                    A123        27    A143               A152        1

    Number of existing credits  Job Number of people being liable  Telephone  \
A11                       A173    1                           A192      A201
A12                       A173    1                           A191      A201
A14                       A172    2                           A191      A201
A11                       A173    2                           A191      A201
A11                       A173    2                           A191      A201
..                         ...  ...                            ...       ...
A14                       A172    1                           A191      A201
A11                       A174    1                           A192      A201
A14                       A173    1                           A191      A201
A11                       A173    1                           A192      A201
A12                       A173    1                           A191      A201

     foreign worker
A11               1
A12               2
A14               1
A11               1
A11               2
..              ...
A14               1
A11               1
A14               1
A11               2
A12               1

[1000 rows x 20 columns]

In [ ]:
#mengubah data ke numerik
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()

for col in dataku.columns.values:
  #encoding pada variabel kategori
  if dataku[col].dtypes=='object' or dataku[col].dtype=='bool':
    data = dataku[col].append(dataku[col])
    le.fit(data.values)
    dataku[col] = le.transform(dataku[col])
dataku.head(12)

<ipython-input-59-60e2c3ff584b>:8: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data = dataku[col].append(dataku[col])
<ipython-input-59-60e2c3ff584b>:8: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data = dataku[col].append(dataku[col])
<ipython-input-59-60e2c3ff584b>:8: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data = dataku[col].append(dataku[col])
<ipython-input-59-60e2c3ff584b>:8: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data = dataku[col].append(dataku[col])
<ipython-input-59-60e2c3ff584b>:8: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data = dataku[col].append(dataku[col])
<ipython-input-59-60e2c3ff584b>:8: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data = dataku[col].append(dataku[col])
<ipython-input-59-60e2c3ff584b>:8: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data = dataku[col].append(dataku[col])
<ipython-input-59-60e2c3ff584b>:8: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data = dataku[col].append(dataku[col])
<ipython-input-59-60e2c3ff584b>:8: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data = dataku[col].append(dataku[col])
<ipython-input-59-60e2c3ff584b>:8: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data = dataku[col].append(dataku[col])
<ipython-input-59-60e2c3ff584b>:8: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data = dataku[col].append(dataku[col])
<ipython-input-59-60e2c3ff584b>:8: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data = dataku[col].append(dataku[col])

,Status of existing checking account,Duration in month,Credit history,Purpose,Credit amount,Savings account,Present employment,Installment rate in percentage of disposable income,Personal status and sex,Other debtors / guarantors,Present residence since,Property,Age,installment plans,Housing,Number of existing credits,Job,Number of people being liable,Telephone,foreign worker
A11,6,5,4,1169,4,0,4,2,0,4,0,67,0,2,2,2,1,0,0,1
A12,48,2,4,5951,0,3,2,1,1,2,0,22,3,1,1,2,1,1,1,2
A14,12,4,7,2096,0,4,2,2,1,3,0,49,3,1,1,1,2,1,1,1
A11,42,2,3,7882,0,4,2,2,3,4,1,45,3,3,1,2,2,1,1,1
A11,24,3,0,4870,0,3,3,2,1,4,3,53,3,3,2,2,2,1,1,2
A14,36,2,7,9055,4,3,2,2,1,4,3,35,3,3,1,1,2,2,1,1
A14,24,2,3,2835,2,5,3,2,1,4,1,53,3,1,1,2,1,1,1,1
A12,36,2,1,6948,0,3,2,2,1,2,2,35,3,0,1,3,1,2,1,1
A14,12,2,4,3059,3,4,2,0,1,4,0,61,3,1,1,1,1,1,1,1
A12,30,4,0,5234,0,1,4,3,1,2,2,28,3,1,2,3,1,1,1,2
A12,12,2,0,1295,0,2,3,1,1,1,2,25,3,0,1,2,1,1,1,2
A11,48,2,9,4308,0,2,3,1,1,4,1,24,3,0,1,2,1,1,1,2

In [ ]:
print("Ukuran :",dataku.shape)

Ukuran : (1000, 20)

In [ ]:
x = dataku[dataku.columns[:-1]]
y = dataku[dataku.columns[-1]]
print("\nFeatures matrix:\n",x)
print("\nResponse vector:\n",y)

Features matrix:
      Status of existing checking account  Duration in month  Credit history  \
A11                                    6                  5               4
A12                                   48                  2               4
A14                                   12                  4               7
A11                                   42                  2               3
A11                                   24                  3               0
..                                   ...                ...             ...
A14                                   12                  2               3
A11                                   30                  2               1
A14                                   12                  2               4
A11                                   45                  2               4
A12                                   45                  4               1

     Purpose  Credit amount  Savings account  Present employment  \
A11     1169              4                0                   4
A12     5951              0                3                   2
A14     2096              0                4                   2
A11     7882              0                4                   2
A11     4870              0                3                   3
..       ...            ...              ...                 ...
A14     1736              0                4                   3
A11     3857              0                3                   4
A14      804              0                5                   4
A11     1845              0                3                   4
A12     4576              1                1                   3

     Installment rate in percentage of disposable income  \
A11                                                  2
A12                                                  1
A14                                                  2
A11                                                  2
A11                                                  2
..                                                 ...
A14                                                  1
A11                                                  0
A14                                                  2
A11                                                  2
A12                                                  2

     Personal status and sex  Other debtors / guarantors  \
A11                        0                           4
A12                        1                           2
A14                        1                           3
A11                        3                           4
A11                        1                           4
..                       ...                         ...
A14                        1                           4
A11                        1                           4
A14                        1                           4
A11                        1                           4
A12                        1                           4

     Present residence since  Property  Age  installment plans   Housing  \
A11                        0        67    0                   2        2
A12                        0        22    3                   1        1
A14                        0        49    3                   1        1
A11                        1        45    3                   3        1
A11                        3        53    3                   3        2
..                       ...       ...  ...                 ...      ...
A14                        0        31    3                   1        1
A11                        1        40    3                   1        1
A14                        2        38    3                   1        1
A11                        3        23    3                   3        1
A12                        2        27    3                   1        1

     Number of existing credits  Job  Number of people being liable   \
A11                           2    1                               0
A12                           2    1                               1
A14                           1    2                               1
A11                           2    2                               1
A11                           2    2                               1
..                          ...  ...                             ...
A14                           1    1                               1
A11                           3    1                               2
A14                           2    1                               1
A11                           2    1                               2
A12                           2    1                               1

     Telephone
A11          0
A12          1
A14          1
A11          1
A11          1
..         ...
A14          1
A11          1
A14          1
A11          1
A12          1

[1000 rows x 19 columns]

Response vector:
 A11    1
A12    2
A14    1
A11    1
A11    2
      ..
A14    1
A11    1
A14    1
A11    2
A12    1
Name: foreign worker, Length: 1000, dtype: int64

In [ ]:
print("\nFeatures:",dataku.columns)

Features: Index(['Status of existing checking account', 'Duration in month',
       'Credit history', 'Purpose', 'Credit amount', 'Savings account',
       'Present employment',
       'Installment rate in percentage of disposable income',
       'Personal status and sex', 'Other debtors / guarantors',
       'Present residence since', 'Property', 'Age', 'installment plans ',
       'Housing', 'Number of existing credits', 'Job',
       'Number of people being liable ', 'Telephone', 'foreign worker'],
      dtype='object')

In [ ]:
from sklearn.model_selection import train_test_split
# from pandas import DataFrame
# from pandas.core.describe import DataFrameDescriber
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.4, random_state=1)

print(x_train)
print(x_train.shape)

print(x_test)
print(x_test.shape)

print(y_train)
print(y_train.shape)

print(y_test)
print(y_test.shape)

     Status of existing checking account  Duration in month  Credit history  \
A14                                   18                  4               4
A14                                   11                  4               0
A11                                   24                  2               1
A14                                   21                  2               1
A12                                   18                  2               0
..                                   ...                ...             ...
A14                                   10                  2               1
A11                                    8                  4               2
A14                                   15                  3               1
A11                                   24                  2               4
A13                                   18                  2               4

     Purpose  Credit amount  Savings account  Present employment  \
A14     6070              0                5                   3
A14     1393              0                2                   4
A11     2964              4                5                   4
A14     5248              4                3                   1
A12     1042              4                3                   4
..       ...            ...              ...                 ...
A14     2901              4                2                   1
A11     1164              0                5                   3
A14     3594              0                2                   1
A11     1823              0                1                   4
A13     2100              0                3                   4

     Installment rate in percentage of disposable income  \
A14                                                  2
A14                                                  1
A11                                                  2
A14                                                  2
A12                                                  1
..                                                 ...
A14                                                  1
A11                                                  2
A14                                                  1
A11                                                  2
A13                                                  2

     Personal status and sex  Other debtors / guarantors  \
A14                        1                           4
A14                        1                           4
A11                        1                           4
A14                        1                           3
A12                        1                           2
..                       ...                         ...
A14                        1                           4
A11                        1                           4
A14                        1                           2
A11                        1                           2
A13                        2                           2

     Present residence since  Property  Age  installment plans   Housing  \
A14                        2        33    3                   1        2
A14                        2        35    3                   1        2
A11                        3        49    1                   3        1
A14                        2        26    3                   1        1
A12                        1        33    3                   1        1
..                       ...       ...  ...                 ...      ...
A14                        0        31    3                   0        1
A11                        3        51    1                   3        2
A14                        1        46    3                   1        2
A11                        2        30    2                   1        1
A13                        0        37    2                   1        1

     Number of existing credits  Job  Number of people being liable   \
A14                           2    1                               2
A14                           3    1                               1
A11                           2    2                               2
A14                           2    1                               1
A12                           2    1                               1
..                          ...  ...                             ...
A14                           2    1                               1
A11                           3    2                               2
A14                           1    1                               1
A11                           3    2                               1
A13                           2    1                               1

     Telephone
A14          1
A14          1
A11          1
A14          1
A12          1
..         ...
A14          1
A11          1
A14          1
A11          1
A13          1

[600 rows x 19 columns]
(600, 19)
     Status of existing checking account  Duration in month  Credit history  \
A12                                   15                  1               0
A11                                   36                  2               2
A14                                   12                  0               3
A11                                   36                  2               3
A11                                   48                  0               1
..                                   ...                ...             ...
A12                                   24                  3               3
A12                                    9                  2               7
A12                                    9                  4               3
A14                                   12                  3               6
A14                                    6                  4               0

     Purpose  Credit amount  Savings account  Present employment  \
A12     6850              1                1                   1
A11    15857              0                1                   2
A14     2759              0                5                   2
A11     3446              0                5                   4
A11     4605              0                5                   3
..       ...            ...              ...                 ...
A12     2064              0                1                   3
A12     1199              0                4                   4
A12     1919              0                4                   4
A14     1555              3                5                   4
A14     2080              2                3                   1

     Installment rate in percentage of disposable income  \
A12                                                  2
A11                                                  0
A14                                                  2
A11                                                  2
A11                                                  2
..                                                 ...
A12                                                  1
A12                                                  1
A12                                                  2
A14                                                  2
A14                                                  3

     Personal status and sex  Other debtors / guarantors  \
A12                        1                           2
A11                        2                           3
A14                        1                           4
A11                        1                           2
A11                        1                           4
..                       ...                         ...
A12                        1                           2
A12                        1                           4
A12                        1                           3
A14                        1                           4
A14                        1                           2

     Present residence since  Property  Age  installment plans   Housing  \
A12                        1        34    3                   1        1
A11                        2        43    3                   1        1
A14                        1        34    3                   1        2
A11                        2        42    3                   1        1
A11                        3        24    3                   3        2
..                       ...       ...  ...                 ...      ...
A12                        1        34    3                   1        1
A12                        1        67    3                   1        2
A12                        2        35    3                   0        1
A14                        3        55    3                   3        2
A14                        2        24    3                   1        1

     Number of existing credits  Job  Number of people being liable   \
A12                           3    2                               2
A11                           3    1                               1
A14                           2    1                               1
A11                           2    2                               1
A11                           2    2                               1
..                          ...  ...                             ...
A12                           3    1                               2
A12                           3    1                               2
A12                           2    1                               2
A14                           2    2                               1
A14                           2    1                               1

     Telephone
A12          1
A11          1
A14          1
A11          1
A11          1
..         ...
A12          1
A12          1
A12          1
A14          1
A14          1

[400 rows x 19 columns]
(400, 19)
A14    1
A14    1
A11    1
A14    1
A12    2
      ..
A14    1
A11    1
A14    1
A11    2
A13    2
Name: foreign worker, Length: 600, dtype: int64
(600,)
A12    2
A11    1
A14    1
A11    2
A11    2
      ..
A12    2
A12    1
A12    1
A14    2
A14    1
Name: foreign worker, Length: 400, dtype: int64
(400,)

In [ ]:
from sklearn.metrics import euclidean_distances
from sklearn.neighbors import KNeighborsClassifier

#euclidean distances
knn = KNeighborsClassifier(n_neighbors=2)

#data latih
knn.fit(x_train,y_train)

KNeighborsClassifier(n_neighbors=2)

In [ ]:
y_pred = knn.predict(x_test)
from sklearn import metrics
print("Akurasi model KNN:",metrics.accuracy_score(y_test,y_pred))

Akurasi model KNN: 0.6775